
:root {
    --primary-color: #FE5E87;
    --secondary-color: #fff;
    --tertiary-color: #F8F6FF;
    --text-color: #040009;
    --text-color-light: #6B7280;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --heading-font-family: "Taviraj", serif;
    --default-font-family: "Poppins", sans-serif;
    }


  
body {
  max-width: 100%;
  height: 100%;
}



  .navbar {
    font-family: var(--default-font-family);
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
  }
  .navbar-collapse {
    text-align: right;
    background-color: transparent;
   
  }

  .homepage-navbar, .projects-page-navbar {
    background-color: var(--tertiary-color) !important;

  }

  .active {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
  }

  .homepage-halfblock {
    background-color: var(--tertiary-color);
    text-align: center;
  }

  .memoji {
  width: 202px;
  height: 100%;
  text-align: center;
  margin-top: 160px;
  background-color: var(--tertiary-color);
  }


  h1 {
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 32px;
    font-weight: 1;
    color: var(--text-color);
    line-height: 92px;
    }

  h2,
  h3 {
    text-align: center;
    font-family: var(--default-font-family);
  }
  
 

  strong {
    font-weight: bold;
  }
  
  h2 {
    font-size: 48px;
  }
  
  .homepage-container h3 {
    font-size: 24px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin: auto;
    max-width: 502px;
    height: 128px;
  }

  .homepage-halfblock h3 {
    color: var(--text-color-light);
    line-height: 32px;
  }

  p, a {
    font-family: var(--default-font-family);
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  

  /* button component*/
  .navigation-links a {
    font-size: 14px;
    width: 162px;
    height: 48px;
    line-height: 24px;
    border-radius: 8px;
    margin: 48px 215px;
    padding: 12px 0 12px 0;
    text-align: center;
    text-decoration: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }

  .navigation-links a {
    text-transform: none;
   
  }

  .row {
    max-width: 1291px !important;
  }

  .homepage-projects-container {
    width: 1291px;
    height: 694px;
    margin: auto;
  }

  .homepage-projects-summary {
    text-align: center;
    justify-content: center;
    font-family: var(--default-font-family);
    width: 952px;
    height: 128px;
    margin: auto;
    margin-top: 115px;
  }

  .homepage-projects-summary p {
    margin-top: 16px;
    color: var(--text-color-light);
  }

  .homepage-projects-summary span {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
  }

  .homepage-projects-cards a {
    text-align: right;

  }

  .homepage-projects-cards a, .about-section-content a {
    text-transform: capitalize;
    text-decoration: none;
  }

  .homepage-projects-cards {
    width: 1291px;
    height: 500px;
    margin-top: 64px;
    padding: 20px;
  
  
  }

  .homepage-projects-cards span {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 20px;
    padding: none;
    width: 205px;
  }
  
  .homepage-projects-cards img, .homepage-projects-cards video {
    text-align: center;
    vertical-align:middle;

  }
  
  .worldClock-card, .weatherApp-card, .poemGenerator-card {
    width: 409px !important;
    height: 500px !important;
    padding: 24px !important;
    border-radius: 16px !important;
  }

  .worldClock-card {
    background-color: #6A57E3;
    color: #fff;
    margin-right: 32px;

  }

  .worldClock-card img, .poemGenerator-card img {
    width: 361px !important;
    height: 200px !important;
  }

  .weatherApp-card img {
    width: 361px !important;
    height: 400px !important;
  }
  
  .worldClock-card a {
    color: #fff;
  }

  .weatherApp-card {
    background-color: #F0FB96;
    margin-right: 32px;
  }

  .poemGenerator-card {
    background-color: #D6E9EB;
    color: var(--text-color);
  }

  .weatherApp-card a, .poemGenerator-card a {
  color: var(--text-color);
  }
  
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 50px auto;
  }
  

  .contact-icons {
    margin-bottom: 20px;
  }

  .contact-icons span {
    font-size: 20px;
    font-family: var(--default-font-family);
    color:var(--primary-color);
    font-weight: 400;
    
  }

  .contact-icons a {
    justify-content: center;
    color: var(--text-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .contact-icons a:hover {
    cursor: pointer;
  }
  
  .homepage-container footer {
    margin: 100px auto;
    font-size: 14px;
    text-align: center;
  }

  .about-container {
    margin: 150px auto;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    width: 930px;
    height: 506px;
    text-align: center;
   }

 .about-text {
    width: 592px;
    height: 506px;
    text-align: left;
    justify-content: center;
    margin: auto;
    margin-right: 48px !important;
 }

.about-text p {
  margin: auto;
  margin-bottom: 48px;
  
}


 .about-container img {
  
  height: 506px;
  margin: auto;
  border-radius: 16px;

 }

 .about-button {
  font-size: 14px;
  width: 162px;
  height: 48px;
  line-height: 24px;
  border-radius: 8px;
  margin: 48px 430px 0 0;
  padding: 12px 10px 12px 10px;
  text-align: center;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;

}

  .about-container h1 {
    font-size: 40px;
    line-height: 60px;
    color: var(--text-color);
  }

  .about-container h2 {
    font-size: 20px;
    color: var(--text-color-light);
  } 

  .about-container p {
    font-size: 16px;
    font-weight: normal;
    justify-content: flex-start;
    color: var(--text-color);

  }

  .projects-tab-container {
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .projects-tab-container h1 {
    font-size: 48px;
    line-height: 60px;
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-weight: 200;
    text-align: center;
    padding-bottom: 140px;
  }

  .projects-vdg-block, .projects-wa-block, .projects-wca-block, .projects-pg-block {
    padding: 150px 80px 50px 100px;
  }


  .projects-vdg-block {
    background-color: var(--tertiary-color);
    vertical-align: middle;
  }

  .projects-wa-block {
    background-color:#F0FB96;
  }

  .projects-wca-block {
    background-color:#6A57E3;
    color: #fff;
  }

  .projects-pg-block {
    background-color: #D6E9EB;
  }

  .projects-tab-container h3 {
    font-size: 48px;
    font-family: var(--heading-font-family);
    font-weight: bold;
    margin-bottom: 30px;
  }

  .projects-vdg-block h3, .projects-wa-block h3, .projects-pg-block h3 {
    color: var(--text-color-light);
  }
  

  .projects-tab-container img, .projects-tab-container video {
    padding: 0 40px 0 40px;
    border-radius: 36px;
  }

  

  .projects-tab-container footer {
    display: block;
    background-color: #D6E9EB;
    padding: 50px;
  }


  @media (max-width: 430px) {
   
    body {
      max-width: fit-content;
      height: auto;
      text-align: center;
    }
    


    h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }


    h2 {
        font-size: 40px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 4px;
    }

    a {
        font-size: 12px;
        font-weight: 200px;
        padding: 8px;
        text-align: center;
        height: auto;
    }
    
    .navigation-links {
      margin-top: 5px;
    }

    .img-fluid {
      max-width: 50%;
      height: 150px;
      padding: 1px;
    }
    
  .homepage-projects-images {
    margin-top: 5px;
    padding: 5px;
  } 
  
footer {
  margin: 25px auto;
  font-size: 10px;
}


  }