@font-face {
  font-family: 'Mona-Sans';
  src: url('font/OTF');
}

:root {
    --primary-color: #FE5E87;
    --secondary-color: #fff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --heading-font-family: Mona-Sans;
    --default-font-family: poppins;
    }


  
  body {
    margin: 60px auto;
    margin-top: 100px;
    max-width: 1400px;
    }

  .navbar {
    background-image: var(--bg-gradient);
    color: var(--primary-color);
    font-family: var(--default-font-family);
   
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-family: var(--heading-font-family);
  }
  
  h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 92px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 28px;
  }

  p, a {
    font-family: var(--default-font-family);
  }
  
  .about-me-p {
    background: none;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    font-size: 0.8rem;
    margin: 20px;
    padding: 8px 24px;
    font-weight: 200px;
    text-decoration: none;
    text-transform: none;
    border-radius: 12px;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .projects {
    margin-top: 50px;
    padding: 20px;
  }
  
  .projects a, .about-section-content a {
    font-size: 0.8rem;
    margin: 70px 20px;
    border-radius: 12px;
    padding:8px 24px;
    font-weight: 400px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 34px;
    
  }
  
  .row {
   box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 50px auto;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  
  .img-fluid {
    max-width: 100%;
    height: 300px;
    padding: 5px;
    border-radius: 15px;
  }
  
 .projects img, video {
    overflow-clip-margin: content-box;
    padding: 50px;
    margin: 50px auto;
  }
  
  footer {
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
  }

  .about-section-content {
   margin: 20px 50px 20px 50px;
   text-align: left;
   display: flex;

  }

  .col-md-6 {
    text-align: left;
    margin: 10px 30px 10px 30px;
    height: fit-content;
  
  }

  .about-section-content h1 {
    font-size: 64px;
    line-height: 80px;
  }

  .about-section-content h2 {
    font-size: 18px;
    font-weight: bold;
  } 

  .about-section-content p {
    font-size: 16px;
    font-weight: normal;
    justify-content: flex-start;

  }



  @media (max-width: 430px) {
   
    h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }


    h2 {
        font-size: 40px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 4px;
    }

    a {
        font-size: 12px;
        font-weight: 200px;
        padding: 8px;
        text-align: center;
        height: auto;
        max-width: fit-content;
        max-height: fit-content;
    }
    
    .navigation-links {
      margin-top: 5px;
    }

    .img-fluid {
      max-width: 50%;
      height: 150px;
      padding: 1px;
    }
    
  .projects {
    margin-top: 5px;
    padding: 5px;
  } 
  
footer {
  margin-top: 25px;
  font-size: 10px;
}

  }