
:root {
    --primary-color: #FE5E87;
    --secondary-color: #fff;
    --tertiary-color: #F8F6FF;
    --text-color: #040009;
    --text-color-light: #6B7280;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --heading-font-family: "Taviraj", serif;
    --default-font-family: "Poppins", sans-serif;
    }


  
body {
  max-width: 100%;
  height: 100%;
}

  .homepage-container {
      text-align: center;
      
    }

  .navbar {
    font-family: var(--default-font-family);
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
  }
  .navbar-collapse {
    text-align: right;
    background-color: transparent;
   
  }

  .homepage-navbar {
    background-color: var(--tertiary-color) !important;

  }

  .active {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
  }

  .homepage-halfblock {
    background-color: var(--tertiary-color);
  }

  .memoji {
  width: 202px;
  height: 100%;
  text-align: center;
  margin-top: 160px;
  background-color: var(--tertiary-color);
  }


  h1 {
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 32px;
    font-weight: 1;
    color: var(--text-color);
    line-height: 92px;
    }

  h2,
  h3 {
    text-align: center;
    font-family: var(--default-font-family);
  }
  
 

  strong {
    font-weight: bold;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin: auto;
    max-width: 502px;
    height: 128px;
    
    
  }

  .homepage-halfblock h3 {
    color: var(--text-color-light);
    line-height: 32px;
  }

  p, a {
    font-family: var(--default-font-family);
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  

  /* button component*/
  .navigation-links a, .projects a, .about-section-content a {
    font-size: 14px;
    width: 162px;
    height: 48px;
    line-height: 24px;
    border-radius: 8px;
    margin: 48px 215px;
    padding: 12px 0 12px 0;
    text-align: center;
    text-decoration: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }

  .navigation-links a {
    text-transform: none;
   
  }

  .homepage-projects-summary {
    display: block;
    text-align: center;
    font-family: var(--default-font-family);
    width: 952px;
    height: 128px;
    margin: 
  }

  .homepage-projects-summary span {
    font-size: 36px;
    font-weight: bold;
  }

  .projects a, .about-section-content a {
    text-transform: capitalize;
  }

  .projects {
    margin-top: 50px;
    padding: 20px;
  }
  
  
  .row {
   box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 50px auto;
  }
  
  .contact-icons a {
    justify-content: center;
    color: var(--text-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .contact-icons a:hover {
    cursor: pointer;
  }
  
  .img-fluid {
    border-radius: 15px;
  }
  
 .projects img, video {
    overflow-clip-margin: content-box;
    padding: 50px;
    margin: 50px auto;
  }
  
  footer {
    margin-top: 100px;
    font-size: 14px;
    text-align: center;
  }

  .about-container .about-text {
    width: 592px;
    height: 506px;
    margin: 147px 737px 262px 399px ;
 }

 .about-img {
  width: 209px;
  height: 506px;
  justify-content: center;
 }


  .about-section-content {
   margin: 20px 50px 20px 50px;
   text-align: left;
   display: flex;

  }

  .about-section-content h1 {
    font-size: 64px;
    line-height: 80px;
    color: var(--text-color);
  }

  .about-section-content h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-light);
  } 

  .about-section-content p {
    font-size: 16px;
    font-weight: normal;
    justify-content: flex-start;
    color: var(--text-color);

  }

  .projects-tab-container {
    display: grid;
    text-align: center;
  }


  @media (max-width: 430px) {
   
    body {
      max-width: fit-content;
      height: auto;
    }
    
    

    h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }


    h2 {
        font-size: 40px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 4px;
    }

    a {
        font-size: 12px;
        font-weight: 200px;
        padding: 8px;
        text-align: center;
        height: auto;
        max-width: fit-content;
        max-height: fit-content;
    }
    
    .navigation-links {
      margin-top: 5px;
    }

    .img-fluid {
      max-width: 50%;
      height: 150px;
      padding: 1px;
    }
    
  .projects {
    margin-top: 5px;
    padding: 5px;
  } 
  
footer {
  margin-top: 25px;
  font-size: 10px;
}

  }